@model IEnumerable<AgriEnergyConnect.Models.Product>

@{
    ViewData["Title"] = "My Products";
}

<div class="banner-area text-white text-center d-flex flex-column justify-content-center align-items-center">
    <div class="container">
        <h1 class="banner-heading mb-4">My Products</h1>

        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                @if (!Model.Any())
                {
                    <p class="text-center">No added products yet.</p>
                }
                else
                {
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Category</th>
                                <th>Production Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var product in Model)
                            {
                                <tr>
                                    <td>@product.Name</td>
                                    <td>@product.Category</td>
                                    <td>@product.ProductionDate.ToShortDateString()</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>
